body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(2, 62, 138,.3);
}
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;

}

.navbar-toggler{
    outline: none!important;
}
.navbar-brand {
    font-size: 2rem ;
}
.bg-black{
    background-color: rgb(3, 4, 94);
}

/* **********Slider*********** */
.carousel-item{
    height: 645px;
}
.carousel-image-1{
    background: inear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4));
    background-image: url(/images/image-1.jpg);
    background-size: cover;

    
}
.carousel-image-2{
    background: inear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4));
    background-image: url(/images/image-2.jpg);
    background-size: cover;
}
.carousel-image-3{
    background: inear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4));
    background-image: url(/images/image-3.jpg);
    background-size: cover;
}

.title-color{
    color: #000;
}
.btn-color{
    background: rgba(2, 62, 138,.8);
}
.btn-color:hover{
    color: #fff;
}
@keyframes slide-btn{
    16%{
        transform: translateY(8px);
    }
    33%{
        transform: translateY(-6px);
    }
    50%{
        transform: translateY(4px);
    }
    65%{
        transform: translateY(-2px);
    }
    85%{
        transform: translateY(1px);
    }
    100%{
        transform: translateY(0);
    }
}
.slide-btn{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
}
.slide-btn:hover,
.slide-btn:focus,
.slide-btn:active{
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: case-in-out;
    animation-iteration-count: 1;
}
/* End of slide */

/**********Service section**********/
.service-icon{
    display: inline-block;
    font-size: 32px;
    margin-bottom: 16px;
    color: #000;
    padding: 8px 16px;
}

/* End of Service section */

/**********Feature Products**********/

/**************Product Section**************/
#products{
    background-color: rgba(3, 4, 94,.6);
}
.product-title{
    color: #fff;
}
.single-item{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translate(0);
    box-shadow: 0 0 1px rgba(0, 0, 255, 0.8);
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}
.single-item:before{
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content:"";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(248, 248, 248, 0.35)0%,
    rgba(247, 244,214,0)80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}
.single-item:hover,
.single-item:focus,
.single-item:active{
    transform: translateY(-5px);
}
.single-item:hover:before,
.single-item:focus:before,
.single-item:active:before{
    opacity: 1;
    transform: translateY(5px);
}
.img-container{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.img-container{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}
.img-container:hover,
.img-container:focus,
.img-container:active{
    box-shadow: 1px 0px 1px 4px rgba(247, 243,243,0.9);
    transform: scale(1.1);
}